a {
    text-decoration: none !important;
}
.about_container {
    padding: 10px;
    margin: 10px;
}

.images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
}

.row {
    font-size: small;

}

.row_2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: small;
}

.D2 {
    font-size: small;
}

#img1 {
    position: relative;
    width: 300px;
}

#img2 {
    float: left;
    margin-right: 15px;
}

.row_3 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: small;
}

.text1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    justify-content: space-between;
}

.row_5 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.D3 {
    display: flex;
    flex-direction: row;
}

.abc_1 {
    list-style: none;
}

.D4 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: small;
}

.D5 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.button {
    margin: 5px;
    padding: 5px;
    font-size: small;
}

.tr,
th,
td {
    border: 1px solid black;
    width: 150px;
    height: 40px;
    text-align: center;
}

input[type=text],
select,
textarea {
    font-size: small;
    height: 100%;
    width: 60%;
    margin: 5px;
}

input[type=submit] {
    background-color: #89ab20;
    border: none;
    margin: 0px;
    color: ghostwhite;
    width: 100px;
    height: 90%;
    line-height: 21px;
    background-image: url(../Header_1/search_icon.png);
    background-repeat: no-repeat;
    background-position: 13px 7px;
}
.mt-3{
    
        display: flex;
        flex-direction: row;
        /* justify-content: space-between; */
      
}
ul#menu li{
    display: inline;
  }
@media(max-width:991px){
    .mt-3{
        display:inline-block;
        flex-direction: row !important;
        justify-content: space-evenly;
    }
}